---
import GitHub from "./icons/GitHub.astro";
import JavaScript from "./icons/JavaScript.astro";
import React from "./icons/React.astro";
import Sass from "./icons/Sass.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Tailwind from "./icons/TailwindCss.astro";
import TypeScript from "./icons/TypeScript.astro";
import ViteJs from "./icons/ViteJs.astro";
import Java from "./icons/Java.astro";
import Spring from "./icons/Spring.astro";
import Express from "./icons/Express.astro";
import Angular from "./icons/Angular.astro";
import NodeJs from "./icons/NodeJs.astro";
import Jest from "./icons/Jest.astro";
import ApiDog from "./icons/ApiDog.astro";
import Postman from "./icons/Postman.astro";
import Prisma from "./icons/Prisma.astro";
import Zod from "./icons/Zod.astro";
import Fastify from "./icons/Fastify.astro";

import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";





const TAGS = {
  HTML: {
    name: "Html",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: " javascript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  SASS: {
    name: "SASS",
    class: "bg-[#003159] text-white",
    icon: Sass,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  VITEJS: {
    name: "viteJs",
    class: "bg-[#003159] text-white",
    icon: ViteJs,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#003159] text-white",
    icon: Java,
  },
  EXPRESS: {
    name: "expressJs",
    class: "bg-[#003159] text-white",
    icon: Express,
  },
  SPRING: {
    name: "Spring",
    class: "bg-[#003159] text-white",
    icon: Spring,
  },
  ANGULAR: {
    name: "AngULAR",
    class: "bg-[#003159] text-white",
    icon: Angular,
  },
  NODE: {
    name: "Node",
    class: "bg-[#003159] text-white",
    icon: NodeJs
  },
  JEST: {
    name: "Jest",
    class: "bg-[#003159] text-white",
    icon: Jest
  },
    APIDOG: {
      name: "APIDOG",
      class: "bg-[#003159] text-white",
      icon: ApiDog
    },

    POSTMAN: {
      name: "POSMAN",
      class: "bg-[#003159] text-white",
      icon: Postman
    },
    PRISMA: {
      name: "PRISMA",
      class: "bg-[#003159] text-white",
      icon: Prisma
    },
      ZOD: {
        name: "ZOD",
        class: "bg-[#003159] text-white",
        icon: Zod
      },
      FASTIFY: {
        name: "FASTIFY",
        class: "bg-[#003159] text-white",
        icon: Fastify
      }


};
const PROJECTS = [


{
    title: "To Do List Application",
    description:
      "Aplicación Back-end gerenciador de tareas - Java17 - Spring Boot -Lombok - H2 database - Bcrypt",
    link: "#",
    github: "https://github.com/SuelenGalhardo/To-DoList_Java",
    image: "/projects/java_springBoot.png",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.APIDOG],
  },


  {
    title: "NLW-Journey",
    description:
      "Aplicación Back-end de gestión de viajes con node.js",
    link: "#",
    github: "https://github.com/SuelenGalhardo/To-DoList_Java",
    image: "/projects/journeyNode.png",
    tags: [TAGS.NODE, TAGS.POSTMAN, TAGS.TYPESCRIPT, TAGS.FASTIFY, TAGS.ZOD],
  },

{
    title: "Rocket Notes-Back",
    description:
      "Aplicación Back-end para gestionar, notas, enlaces y utilidades- integración front-end y back-end - React y Node.js",
    link: "https://startnotes.netlify.app/",
    github: "https://github.com/SuelenGalhardo/start_node.js",
    image: "/projects/databasestruccture.png",
    tags: [TAGS.NODE, TAGS.EXPRESS, TAGS.JEST],
  },

   {
    title: "Rocket Notes-Front",
    description:
      "Aplicación front-end para gestionar, notas, enlaces y utilidades- integración front-end y back-end - React y Node.js",
    link: "https://startnotes.netlify.app/",
    github: "https://github.com/SuelenGalhardo/start_react_node",
    image: "/projects/startnotes.png",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.REACT],
  },

  {
    title: "Feed Ignite",
    description:
      "Aplicación Front-end que Imita una red social, creada con vite, components-propriedads-estados-imutabilidad y hooks",
    link: "https://suelengalhardo.github.io/Feed_Ignite/",
    github: "https://github.com/SuelenGalhardo/Feed_Ignite",
    image: "/projects/FeedIgnit.png",
    tags: [TAGS.REACT, TAGS.SASS, TAGS.VITEJS, TAGS.TYPESCRIPT],
  },

  {
    title: "GitFav",
    description: "aplicación donde puedes buscar tus repositorios favoritos en GitHub y darles ese toque especial de ⭐favorito.",
    link: "https://suelengalhardo.github.io/favoriteIngithub/",
    github: "https://github.com/SuelenGalhardo/favoriteIngithub",
    image: "/projects/gitfav.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },

{
    title: "NLW-Notes",
    description: "Convierte automáticamente notas de audio a texto con React",
    link: "https://nlw-expert-notes-react-peach.vercel.app/",
    github: "https://github.com/SuelenGalhardo/NLW-Expert-Notes-React",
    image: "/projects/Nota.png",
    tags: [TAGS.HTML, TAGS.REACT, TAGS.VITEJS, TAGS.TYPESCRIPT],
  },
  {
    title: "Buscador Rick And Morty",
    description:
      "Busca tus personajes favoritos de Rick and Morty y averigua su procedencia y otros datos interesantes.",
    link: "https://suelengalhardo.github.io/Rick-and-Morty/",
    github: "https://github.com/SuelenGalhardo/Rick-and-Morty",
    image: "/projects/Rickmorty.png",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.REACT],
  },

   
   {
    title: "Disney Character Database",
    description:
      "Web Responsive donde almacenar todos tus personajes favoritos de Disney.",
    link: "https://suelengalhardo.github.io/Disney-Character-Database/",
    github: "https://suelengalhardo.github.io/Disney-Character-Database/",
    image: "/projects/Disney.png",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.JAVASCRIPT],
  },
  {
    title: "BMI Calculator",
    description: "Proyecto con HTML, CSS y JavaScript, para Cálculo de Índice de Masa Corporal IMC en JavaScript ",
    link: "https://suelengalhardo.github.io/BMI_Calculator/",
    github: "https://github.com/SuelenGalhardo/BMI_Calculator",
    image: "/projects/imc.png",
    tags: [TAGS.HTML, TAGS.CSS,TAGS.JAVASCRIPT] ,
  },
  {
    title: "Anonymous Proxys",
    description:
      "Creación de una página web responsive basada en un diseño proporcionado.",
    link: "https://beta.adalab.es/modulo-1-evaluacion-final-SuelenGalhardo/",
    github: "https://github.com/SuelenGalhardo/Anonymous-HTML-CSS",
    image: "/projects/Anonymous.png",
    tags: [TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Photo blog",
    description: "Proyecto con HTML y CSS para trabajar con animaciones, trasiciones y filtros en CSS",
    link: "https://suelengalhardo.github.io/Photoblog/",
    github: "https://github.com/SuelenGalhardo/Photoblog",
    image: "/projects/PhotoBlog.png",
    tags: [TAGS.HTML, TAGS.CSS],
  },

];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0  bg-white border border-gray-200 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-5 rounded-xl">
        <div class=" hidden sm:w-2/6 sm:block w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt=""
              class="object-cover object-top w-full h-48 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
